{% load static %}
    <div class="dashboardContainer bg-dashboard-gray">
        <div class="py-4 px-8 flex items-center justify-between bg-white shadow-md mb-3">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                        </svg>
                        <h4 class="font-bold">Непотврдени порачки</h4>
                    </div>
                    <div>
                        <p>admin</p>
                    </div>
        </div>
        <div class="py-4 px-8 flex flex-col items-start gap-4">
            <h4>Orders</h4>
            <div class="p-4 w-full bg-white rounded-xl shadow-md flex flex-col gap-4">
                <div class="flex items-center justify-between">
                    <h4 class="text-xl font-bold">Порачки</h4>
                    <div class="flex items-center gap-1">
                        <a href="">1</a>
                        <a href="">2</a>
                        <p>...</p>
                        <a href="">10</a>
                    </div>
                </div>
                <table class="table-auto w-full text-left">
                      <thead class="border-b border-gray-200">
                        <tr>
                          <th class="font-normal">Customer</th>
                          <th class="font-normal">Items</th>
                          <th class="font-normal">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in orders %}
                          <tr class="border-b-2 border-gray-200">
                              <td class="table_field">
                                  {{ order.getFullName }}
                                  <br>
                                  {{ order.shipping_address }}
                                  <br>
                                  {{ order.city }}
                                  <br>
                                  {{ order.phone_number }}
                              </td>
                              <td class="table_field">
                                  {% for item in order.items.all %}
                                      {{ item.details }}
                                      <br>
                                  {% endfor %}
                                  Цена без достава: {{ order.subtotal_price }} ден
                                  <br>
                                  Достава: Бесплатна достава
                                  <br>
                                  Вкупно: {{ order.total_price }} ден
                              </td>
                              <td class="table_field flex flex-col items-start grow justify-between gap-1">
                                  <p>{{ order.status }}</p>
                                  <button class="py-1.5 px-4 bg-dashboard-blue text-white rounded-lg text-sm font-bold">ПОТВРДИ</button>
                                  <button class="py-1.5 px-4 bg-black/20 rounded-lg text-sm font-bold">ОТСТРАНИ</button>
                              </td>

                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>