{% load static %}
{% url 'shop:checkout' as checkout_url %}
{% if request.path == checkout_url %}
    <div class="w-full border-b-2 bg-gray-300/70 ">
        <div class="container mx-auto p-4">
            <a class="flex items-center justify-start relative gap-2 xl:mb-2" href="{% url 'shop:shop_home' %}">
                <img src="{% static 'assets/images/logo.png' %}" alt="" class="max-w-[74px] md:max-w-[120px]">
                <div class="flex items-start justify-center flex-col relative top-[-5px]">
                    <p class="text-5xl font-bold text-brand-primary">Маја Фарм</p>
                    <p class="text-sm italic font-medium text-brand-primary text-center relative top-[-1px]">Чувар
                        на вашето здравје</p>
                </div>
            </a>
        </div>
    </div>
{% else %}
    <div class="w-full p-2 bg-gray-300/70">
        <div class="container flex items-center justify-end mx-auto">
            <a href="{% url 'shop:contact_page' %}" class="text-brand-primary font-bold hover:text-brand-primary/70">Контакт</a>
        </div>
    </div>
    <div id="header" class="bg-white py-6 px-2">
        <div class="container mx-auto w-full flex items-center justify-between">

            <div class="flex items-center justify-between  gap-2 md:grow">
                <a class="flex items-center justify-start relative gap-2 xl:mb-2" href="{% url 'shop:shop_home' %}">
                    <img src="{% static 'assets/images/logo.png' %}" alt="" class="max-w-[74px] md:max-w-[120px]">
                    <div class="flex items-start justify-center flex-col relative top-[-5px]">
                        <p class="text-5xl font-bold text-brand-primary">Маја Фарм</p>
                        <p class="text-sm italic font-medium text-brand-primary text-center relative top-[-1px]">Чувар
                            на вашето здравје</p>
                    </div>
                </a>
                <form class="hidden md:flex items-center w-8/12 justify-center group flex-wrap" method="get"
                      action="{% url 'shop:search_page' %}">
                    <input type="text" name="query"
                           class="h-[56px] grow  px-2 focus:outline-brand-primary searchInput border border-black border-r-0"
                           placeholder="Барај"
                    >
                    <button type="submit"
                            class="flex items-center justify-center p-3 cursor-pointer hover:text-brand-primary bg-brand-primary hover:bg-black ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8 h-8 text-[#dbdee3]"
                             viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                    <div class="basis-full flex flex-col items-start justify-start gap-0.5  searchResultsContainer bg-[#dbdee3]">
                    </div>
                </form>
            </div>
            <div class="flex items-center justify-center gap-4 ml-0 md:ml-4">
                <div class="flex items-end justify-center relative cursor-pointer gap-2" id="cartIcon">
                    <div class="relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                             class="text-brand-primary" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                        <span class="w-4 h-4 text-center text-xs font-bold top-[-4px] right-[-10px] absolute bg-[#225e17] text-white rounded-xl"
                              id="cartQuantityContainer">{{ request.cart.items_count }}</span>
                    </div>
                    <span class="text-sm text-brand-primary hidden md:block">Кошничка</span>
                </div>
                <div class="flex items-center justify-center md:hidden" id="menuIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
            </div>
        </div>

    </div>
    <div class="bg-brand-primary hidden lg:block">
        <div class="container mx-auto text-white ">
            <div class="flex items-center justify-center">
                {% for category in categories %}
                    <div class="p-2 text-sm  relative z-[200] border-r border-l border-[#dbdee3] whitespace-nowrap group">
                        <a href="{{ category.get_absolute_url }}"
                           class="first-letter:uppercase font-bold text-white hover:text-[#dbdee3] text-xs w-full h-full">{{ category.name }}</a>
                        {% if category.subcategories.all %}
                            <div class="absolute left-0 min-w-[200px] hidden mt-2 group-hover:block bg-white z-[100]">
                                {% for subcategory in category.subcategories.all %}
                                    <a class="p-2 cursor-pointer flex items-center justify-center text-center text-black border border-[#dbdee3] first-letter:uppercase text-xs w-full h-full"
                                       href="{{ subcategory.get_absolute_url }}">
                                        {{ subcategory.name }}
                                        {#                                        <p#}
                                        {#                                                class=" first-letter:uppercase">{{ subcategory.name }}</p>#}
                                        {#                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"#}
                                        {#                                             fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">#}
                                        {#                                            <path fill-rule="evenodd"#}
                                        {#                                                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>#}
                                        {#                                        </svg>#}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="container md:hidden bg-gray-300/70 border-b border-t border-brand-primary hidden z-[400]"
         id="menuContainer">
        <div class="w-full">
            {% for category in categories %}
                <div class="px-2 font-medium text-sm group relative w-full border-b border-brand-primary last-of-type:border-0 flex items-center justify-between flex-wrap">
                    <a href="{{ category.get_absolute_url }}" class="font-bold w-full h-full">{{ category.name }}</a>
                    {% if category.subcategories.all %}

                        <div class="basis-full">
                            {% for subcategory in category.subcategories.all %}
                                <a href="{{ subcategory.get_absolute_url }}"
                                   class="p-2 cursor-pointer flex items-center justify-between">
                                    <span
                                            class="first-letter:uppercase">{{ subcategory.name }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container my-2 px-2 md:hidden">
        <form class="flex items-center justify-start gap-1" method="get" action="{% url 'shop:search_page' %}">
            <div class="flex items-center justify-center grow flex-wrap ">

                <input type="text" name="query" placeholder="Барај"
                       class="h-[42px] grow  px-2 focus:outline-brand-primary searchInput border border-black border-r-0">
                <button class="flex items-center justify-center p-3 cursor-pointer hover:text-brand-primary bg-brand-primary hover:bg-black border border-brand-primary border-l-0 h-[42px] w-[42px]"
                        type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-[18px] w-[18px] text-[#dbdee3]"
                         viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                <div class="basis-full flex flex-col items-start justify-start gap-0.5  searchResultsContainer bg-[#dbdee3]">
                </div>
            </div>
        </form>
    </div>


    <div class="container-fluid w-full h-full overflow-hidden fixed top-0 right-0 bg-black/70 z-[290]" id="overlay"
         style="display:none!important;"></div>
    <div class="fixed top-0 right-0 bg-white w-11/12 md:w-6/12 lg:w-4/12 xl:w-3/12 2xl:w-2/12 h-full flex flex-col  ml-auto shadow-2xl shadow-black z-[300] scale-x-0 transition-transform origin-right"
         id="sideCart">
        <div class="py-3 border-b-2">
            <div class="px-5 w-full flex justify-between items-center">
                <p class="p-2">Cart</p>
                <div class="p-2 cursor-pointer" id="cart__closeButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                         class="text-black/60 hover:text-black" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="h-full flex flex-col flex-auto items-stretch justify-between">
            <div class="relative flex-auto overflow-hidden w-full h-full">
                <div class="absolute top-0 right-0 left-0 bottom-0 overflow-auto overflow-x-hidden cartBody">
                    {% for cart_item in request.cart.items.all %}
                        <div class="flex gap-2 items-center py-4 border-b-2 p-5 cartItem"
                             id="cartItem_template" data-item="{{ cart_item.product.id }}">
                            <img src="{{ cart_item.product.thumbnail.url }}" alt="" class="cartItem_thumbnail"
                                 style="max-width:120px!important">
                            <div class="">
                                <p class="font-semibold cartItem_title">{{ cart_item.product.title }}</p>
                                <p class="font-semibold text-brand-primary mt-2"><span
                                        class="cartItem_quantityText">{{ cart_item.quantity }}</span> x <span
                                        class="cartItem_price">{{ cart_item.price }}</span> ден</p>
                                <div class="flex items-center justify-start mb-4">
                                    <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 cartItemQuantityBtn quantityMinus hover:bg-black hover:text-white cursor-pointer"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor"
                                             class="" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </div>
                                    <input type="number" name="quantityInput" value="{{ cart_item.quantity }}"
                                           class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 cartItem_quantityInput">
                                    <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 cartItemQuantityBtn quantityPlus hover:bg-black hover:text-white cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             fill="currentColor"
                                             class="" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="removeCartItemBtn cursor-pointer text-black/60 hover:text-black">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="bi bi-trash"
                                         viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="p-5 border-t-2">
                <div class="flex justify-between items-center text-lg mb-2">
                    <p class="font-semibold">Вкупно</p>
                    <p id="cartTotal">{{ request.cart.total_price }} ден</p>
                </div>
                <p class="text-sm text-black/60 mb-2">Данок вклучен. Испораката е пресметанa при наплата</p>
                <a href="{% url 'shop:checkout' %}"
                   class="block text-center cursor-pointer bg-brand-primary font-semibold text-white rounded-lg p-2 hover:bg-brand-primary/80">Кон
                    Нарачка</a>
            </div>
        </div>

    </div>
    <div class="flex gap-2 items-center py-4 border-b-2 p-5 cartItem" style="display:none!important"
         id="cartItem_template" data-item="">
        <img src="" alt="" class="cartItem_thumbnail" style="max-width:120px!important">
        <div class="">
            <p class="font-semibold cartItem_title"></p>
            <p class="font-semibold text-brand-primary mt-2"><span class="cartItem_quantityText"></span> x <span
                    class="cartItem_price"></span> ден</p>
            <div class="flex items-center justify-start mb-4">
                <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 cartItemQuantityBtn quantityMinus hover:bg-black hover:text-white cursor-pointer"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </div>
                <input type="number" name="quantityInput" value="1"
                       class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 cartItem_quantityInput">
                <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 cartItemQuantityBtn quantityPlus hover:bg-black hover:text-white cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
            </div>
            <div class="removeCartItemBtn cursor-pointer text-black/60 hover:text-black">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash"
                     viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
            </div>
        </div>
    </div>
{% endif %}