{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto my-4 md:my-8 px-2">
        <div class="flex flex-wrap md:flex-nowrap items-start gap-4">
            <div class="basis-full md:basis-6/12">
                <img src="{{ product.thumbnail.url }}" alt="Image of a product" class="rounded">
            </div>
            <div class="basis-full md:basis-6/12 flex flex-col items-start justify-between">
                <div class="w-full">
                    <h2 class="font-semibold text-2xl mb-4">{{ product.title }}</h2>
                    {#                    <p class="mb-4">#}
                    {#                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur debitis deserunt#}
                    {#                        esse et, explicabo fugiat hic maiores modi molestiae mollitia nobis numquam omnis quaerat quam#}
                    {#                        quo recusandae sed sint suscipit voluptas. Deleniti deserunt dolor id iure soluta! Aliquam#}
                    {#                        dolores magni possimus provident quam quas sequi? Autem explicabo neque quas.#}
                    {#                    </p>#}
                </div>
                <div class="w-full">
                    <p class="font-bold text-brand-primary mb-4 text-2xl "><span
                            class="text-3xl">{{ product.sale_price }}</span> ден</p>
                    <p class="text-sm text-black/60 mb-1">Вклучен данок</p>
                    <div class="flex items-center justify-between w-full gap-2 md:gap-4 mb-4 flex-wrap">
                        <div class="flex items-center justify-center quantityContainer basis-3/12">
                            <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white h-12 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                            <input type="number" name="quantityInput" value="1"
                                   class="p-1.5 text-sm text-center w-8/12 border-t-2 border-b-2 quantityInput h-12">
                            <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white h-12 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </div>
                        <button class="bg-brand-primary w-full text-sm md:text-base text-white font-semibold rounded-lg h-12 px-2 addToCartBtn basis-8/12"
                                data-product-id="{{ product.id }}">
                            Додади во кошничка
                        </button>
                        <button class="bg-brand-tertiary w-full text-white font-semibold rounded-lg h-14 px-2 addToCartBtn goToCheckoutBtn basis-full"
                                data-product-id="{{ product.id }}">Купи веднаш
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="w-full my-12 p-2 rounded-lg bg-white">
            <div class="flex items-center justify-start gap-4 w-full border-b-2">
                <p class="font-semibold p-2 text-brand-tertiary toggleable cursor-pointer" data-target="shortDesc">
                    Краток опис</p>
                <p class="font-semibold p-2 toggleable cursor-pointer" data-target="longDesc">Начин на употреба</p>
            </div>
            <div class="p-4 description" id="shortDesc">
                {% if product.short_desc %}
                    {{ product.short_desc|safe }}
                {% else %}
                    <p>Нема краток опис</p>
                {% endif %}
            </div>
            <div class="p-4 description" id="longDesc" style="display: none;">
                {% if product.long_desc %}
                    {{ product.long_desc|safe }}
                {% else %}
                    <p>Нема начин на употреба</p>
                {% endif %}
            </div>
        </div>

        <div class="my-8">
            <h4 class="font-bold text-xl mb-1 text-brand-tertiary">Lorem ipsum dolor sit amet.</h4>
            <div class="slider-6 mx-auto">
                {% for product in related_products %}
                    <div class="slider-Div product-card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                            <p class="product-card-title">{{ product.title }}</p>
                        </a>
                        <div class="flex items-center justify-center mb-4 quantityContainer">
                            <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                            <input type="number" name="quantityInput" value="1"
                                   class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                            <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </div>
                        <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
{% endblock content %}