{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'shop/css/shop_output.css' %}">
    <title>Document</title>
</head>
<body class="bg-gray-200">
    <div class="p-2">
        <div class="flex align-center justify-center gap-4">
            <a>Неиспорачани</a>
            <a>Испорачани</a>
        </div>
    </div>
    <div class="container mx-auto">
        <table class="table-auto w-full text-left border-separate border border-slate-500 rounded-xl bg-white shadow-lg">
            <caption class="caption-top">
                Table 3.1: Professional wrestlers and their signature moves.
            </caption>
          <thead class="">
            <tr>
              <th class="shopmanager_tableField">Customer</th>
              <th class="shopmanager_tableField">Items</th>
              <th class="shopmanager_tableField">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="shopmanager_tableField">
                  Aleksandar Bedjovski
                  <br>
                  Leninova 99
                  <br>
                  Strumica
                  <br>
                  078272681
              </td>
              <td class="shopmanager_tableField">
                  Dijazepam x 3 - 300 den
                  <br>
                  Analgin x 4 - 400 den
                  <br>
                  Cena bez dostava: 300den
                  <br>
                  Dostava: Besplatna dostava
                  <br>
                  Vkupno: 300den
              </td>
              <td class="shopmanager_tableField">
                  Potvrdena
                  <br>
                  <button>Vrati</button>
              </td>

            </tr>
          </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'shop/js/shop.js' %}"></script>

</body>
</html>