{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <div class="relative">
        <div role="status"
             class="absolute w-full h-full top-0 left-0 bg-[#F1F2F4] z-[200] flex items-center justify-center loadingSpinner">
            <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin fill-brand-secondary fixed top-[50%]"
                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
        <div class="container mx-auto px-2 md:px-0">
            {% if redirect_images %}
                <div class="my-8">
                    <div class="slider-3 mx-auto">
                        {% for image in redirect_images %}
                            <a class="slider-Div slick-slide" href="{{ image.url }}">
                                <img src="{{ image.image.url }}" alt="" class="w-full">
                            </a>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}

            <div class="my-8">
                <h4 class="font-bold text-xl mb-1 text-brand-primary px-2">Продукти</h4>
                <div class="slider-6 mx-auto">
                    {% for product in products %}
                        <div class="slider-Div product-card slick-slide">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                                <p class="product-card-title">{{ product.title }}</p>
                            </a>
                            <div class="flex items-center justify-center mb-4 quantityContainer">
                                <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="" viewBox="0 0 16 16">
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </div>
                                <input type="number" name="quantityInput" value="1"
                                       class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                                <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </div>
                            </div>
                            <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {#            <div class="my-8">#}
            {#                <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">Категории</h4>#}
            {#                <div class="slider-6 mx-auto">#}
            {#                    {% for category in categories %}#}
            {#                        <a class="slider-Div slider-category-list group slick-slide"#}
            {#                           href="{% url 'shop:category_page' slug=category.slug %}">#}
            {#                            <img src="#}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {##}
            {#                                    {% if category.image %}{{ category.image.url }}{% else %}https://w7.pngwing.com/pngs/605/679/png-transparent-pharmacy-medicine-maps-location-placeholder-pin-icon.png{% endif %}"#}
            {#                                 alt=""#}
            {#                                 class="product-card-image ">#}
            {#                            <p class="product-card-title w-full h-full group-hover:text-brand-tertiary">{{ category.name }}</p>#}
            {#                        </a>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}


            <div class="my-8">
                <h4 class="font-bold text-xl mb-1 text-brand-primary px-2">{{ promoted_category_first.name }}</h4>
                <div class="slider-6 mx-auto">
                    {% for product in promoted_category_first.products.all %}
                        <div class="slider-Div product-card slick-slide">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                                <p class="product-card-title">{{ product.title }}</p>
                            </a>
                            <div class="flex items-center justify-center mb-4 quantityContainer">
                                <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="" viewBox="0 0 16 16">
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </div>
                                <input type="number" name="quantityInput" value="1"
                                       class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                                <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </div>
                            </div>
                            <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="my-8">
                <h4 class="font-bold text-xl mb-1 text-brand-primary px-2">Брендови</h4>
                <div class="slider-6 mx-auto ">
                    {% for brand in brands %}
                        <div class="slider-Div slider-category-list slick-slide">
                            <a href="{% url 'shop:brand_view' brand.slug %}"
                               class="flex items-center justify-center w-full h-full">
                                {% if brand.image and brand.image.url %}
                                    <img src="{{ brand.image.url }}"
                                         alt="" class="product-card-image w-full">
                                    <p class="product-card-title overflow-ellipsis overflow-hidden">{{ brand.name }}</p>
                                {% else %}
                                    <div class="flex items-center justify-center text-brand-secondary font-bold text-lg bg-white py-2 px-2 rounded-lg h-full w-full hover:bg-brand-tertiary hover:text-white">
                                        <p class=" overflow-ellipsis overflow-hidden">{{ brand.name }}</p>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {##}
            {#        <div class="my-8">#}
            {#            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">Lorem ipsum dolor sit amet.</h4>#}
            {#            <div class="slider-3 mx-auto">#}
            {#                <div class="slider-Div">#}
            {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
            {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
            {#                             class="w-24" alt="">#}
            {#                        <p class="">Diabetes</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="slider-Div">#}
            {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
            {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
            {#                             class="w-24" alt="">#}
            {#                        <p class="">Diabetes</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="slider-Div">#}
            {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
            {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
            {#                             class="w-24" alt="">#}
            {#                        <p class="">Diabetes</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="slider-Div">#}
            {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
            {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
            {#                             class="w-24" alt="">#}
            {#                        <p class="">Diabetes</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}

            <div class="my-8">
                <h4 class="font-bold text-xl mb-1 text-brand-primary px-2">{{ promoted_category_second.name }}</h4>
                <div class="slider-6 mx-auto">
                    {% for product in promoted_category_second.products.all %}
                        <div class="slider-Div product-card slick-slide">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                                <p class="product-card-title">{{ product.title }}</p>
                            </a>
                            <div class="flex items-center justify-center mb-4 quantityContainer">
                                <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="" viewBox="0 0 16 16">
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </div>
                                <input type="number" name="quantityInput" value="1"
                                       class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                                <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </div>
                            </div>
                            <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
{% endblock content %}

