{% extends 'shop/base.html' %}
{% load static %}
{% block content %}


    <div class="container mx-auto px-2 md:px-0">
        {% if redirect_images %}
            <div class="my-8">
                <div class="slider-3 mx-auto">
                    {% for image in redirect_images %}
                        <a class="slider-Div" href="{{ image.url }}">
                            <img src="{{ image.image.url }}" alt="" class="w-full">
                        </a>
                    {% endfor %}

                </div>
            </div>
        {% endif %}

        <div class="my-8">
            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">Продукти</h4>
            <div class="slider-6 mx-auto">
                {% for product in products %}
                    <div class="slider-Div product-card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                            <p class="product-card-title">{{ product.title }}</p>
                        </a>
                        <div class="flex items-center justify-center mb-4 quantityContainer">
                            <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                            <input type="number" name="quantityInput" value="1"
                                   class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                            <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </div>
                        <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="my-8">
            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">Категории</h4>
            <div class="slider-6 mx-auto">
                {% for category in categories %}
                    <a class="slider-Div slider-category-list group"
                       href="{% url 'shop:category_page' slug=category.slug %}">
                        <img src="














                                {% if category.image %}{{ category.image.url }}{% else %}https://w7.pngwing.com/pngs/605/679/png-transparent-pharmacy-medicine-maps-location-placeholder-pin-icon.png{% endif %}"
                             alt=""
                             class="product-card-image ">
                        <p class="product-card-title w-full h-full group-hover:text-brand-tertiary">{{ category.name }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>


        <div class="my-8">
            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">{{ promoted_category_first.name }}</h4>
            <div class="slider-6 mx-auto">
                {% for product in promoted_category_first.products.all %}
                    <div class="slider-Div product-card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                            <p class="product-card-title">{{ product.title }}</p>
                        </a>
                        <div class="flex items-center justify-center mb-4 quantityContainer">
                            <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                            <input type="number" name="quantityInput" value="1"
                                   class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                            <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </div>
                        <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="my-8">
            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">Брендови</h4>
            <div class="slider-6 mx-auto">
                {% for brand in brands %}
                    <div class="slider-Div slider-category-list">
                        <a href="{% url 'shop:brand_view' brand.slug %}"
                           class="flex items-center justify-center w-full h-full">
                            {% if brand.image and brand.image.url %}
                                <img src="https://images.apollo247.in/pub/media/ves/brand/ampers_new_logo.jpg?tr=w-367.5,q-80,f-webp,c-at_max"
                                     alt="" class="product-card-image w-full">
                                <p class="product-card-title">{{ brand.name }}</p>
                            {% else %}
                                <div class="flex items-center justify-center text-brand-secondary font-bold text-lg bg-white py-2 px-2 rounded-lg h-full w-full hover:bg-brand-tertiary hover:text-white">
                                    <p>{{ brand.name }}</p>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {##}
        {#        <div class="my-8">#}
        {#            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">Lorem ipsum dolor sit amet.</h4>#}
        {#            <div class="slider-3 mx-auto">#}
        {#                <div class="slider-Div">#}
        {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
        {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
        {#                             class="w-24" alt="">#}
        {#                        <p class="">Diabetes</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="slider-Div">#}
        {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
        {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
        {#                             class="w-24" alt="">#}
        {#                        <p class="">Diabetes</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="slider-Div">#}
        {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
        {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
        {#                             class="w-24" alt="">#}
        {#                        <p class="">Diabetes</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="slider-Div">#}
        {#                    <div class="p-2 rounded-lg shadow-md bg-white flex items-center ">#}
        {#                        <img src="https://images.apollo247.in/pub/media/healtharea/247images/i/c/ic_diabetes.png?tr=q-80,f-webp,c-at_max"#}
        {#                             class="w-24" alt="">#}
        {#                        <p class="">Diabetes</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <div class="my-8">
            <h4 class="font-bold text-xl mb-1 text-brand-tertiary px-2">{{ promoted_category_second.name }}</h4>
            <div class="slider-6 mx-auto">
                {% for product in promoted_category_second.products.all %}
                    <div class="slider-Div product-card">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.thumbnail.url }}" alt="" class="product-card-image">
                            <p class="product-card-title">{{ product.title }}</p>
                        </a>
                        <div class="flex items-center justify-center mb-4 quantityContainer">
                            <div class="text-black/60 p-1 bg-white rounded-tl-[50%] rounded-bl-[50%] border-2 border-r-0 quantityBtn quantityMinus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </div>
                            <input type="number" name="quantityInput" value="1"
                                   class="p-1.5 text-sm text-center w-6/12 border-t-2 border-b-2 quantityInput">
                            <div class="text-black/60 p-1 bg-white rounded-tr-[50%] rounded-br-[50%] border-2 border-l-0 quantityBtn quantityPlus cursor-pointer hover:bg-black hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </div>
                        <button class="addToCartBtn" data-product-id="{{ product.id }}">Додади во кошничка</button>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
{% endblock content %}

